.container{
   width: 82%;
   margin: 0 auto;
}


.news-container {
   margin: 0 auto;
   width: 50%;
   padding-top: 50px;
}
.more-btn{
   border: 1px solid #C6FF00;
   padding: 10px;
   display: inline-block;
   margin: 40px 0 40px 0;
   color: #C6FF00;
   font-size: 14px;
}
li {

   margin: 30px;

}
.show-btn{
   padding: 10px;
   font-weight: 600;
   font-size: 16px;
   background-color: #C6FF00;
   cursor: pointer;
   outline: none;
   border: none;
   margin-top: 20px;
}

