
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background: #000;
    padding-top: 160px;
    color: white;
    font-family: 'Open Sans', sans-serif;
  }

  h2 {

    font-size: 23px;
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .news-list {
    list-style: none;
    counter-reset: item;
  }


  .news-list li {
    width: 48%;
    margin: 0 auto;
    position: relative;
    margin-top: 13vh;
  }

  .news-list li::before {
    content: counter(item);
    font-size: 26px;
    color: #C6FF00;
    font-family: 'Anton', sans-serif;
    counter-increment: item;
    position: absolute;
    transform: rotate(19deg);
    top: -25px;
    left: -33px;
  }
}